<div>
    <p class="header" style="color: grey;font-weight: bold;text-align: center;">COUNTRY COMPARISON</p>
    <div class="countries-to-compare">
    <div class="selected-counties">
        <!-- using toLocaleString() method for comma -->
        <p>Most populated country is: <span>{{NameOfTheMostPop}}</span> <br>
        with <span>{{MostHb.toLocaleString()}}</span> inhabitants</p>
        <p>Most least populated country is: <span>{{NameofTheLeastPop}}</span> <br>
        with <span>{{LeastHb.toLocaleString()}}</span> inhabitants</p>
        <p>Differance of population is: <br>
        <span *ngIf="DifferanceInPop > 0">{{DifferanceInPop.toLocaleString()}}</span></p>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <p class="countrylistp">Country List</p>
        <input type="text"  placeholder="Search.." name="searchbox"  [(ngModel)]="search" (input)="SearchCounty()">
        <div class="countries"> 
            <div *ngFor="let c of countries;let i = index">  
                <label  [for]="c.Name">
                    <input type="checkbox" (click)="addCountry(c.Name,c.Population)" [id]="c.Name" [disabled]="selectedCountries.length > 3"/>
                    {{c.Name}}
                </label>  
            </div> 
        </div>
        <!-- for UX and UI :D -->
        <p style="margin-bottom: 0px;">*Added: <span>{{countriesCounter}}</span> countries</p>
        <p *ngIf="selectedCountries.length > 3" style="color: rgba(220, 20, 60, 0.548);">*Thats a maximum number of countries you can add</p>
        <p *ngIf="selectedCountries.length <= 1">*Add at least 2 counties to compare</p>
        <!--  -->
        <button [disabled]="selectedCountries.length <=1" type="submit" class="btn btn-dark my-3">COMPARE</button>
        <button *ngIf="selectedCountries.length >= 2" class="btn btn-danger my-3" type="button" (click)="ResetForm()">RESET</button>
    </form>
    </div>
</div>